body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  h1{
    color: red;
    font-size: 2rem;
  }
  table {
    border: 3px solid;
    margin: 20px;
  }
  tr:first-child {
    font-style: italic;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
    background-color: #FFEB3B;
}
  tr{
    display: flex;
    flex-direction: row;
  }
  
  td {
    width:3rem;
    height:3rem;
    margin: 0px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #score{
    border: 2px solid #4CAF50;
    padding: 0px 18px;
    background-color: #4CAF50;
    color: yellow;
    font-size: 2rem;
    margin: 10px;
  }
  #container{
    position: absolute;
    font-size: 5rem;

  }